<div class="lesson-class">
  <ul>
    <li class="lesson-list"><%= image_tag'number_1.png' %></li>
    <li class="lesson-list"><%= image_tag'number_2.png' %></li>
    <li class="lesson-list"><%= image_tag'number_3.png' %></li>
    <li class="lesson-list"><%= image_tag'number_4.png' %></li>
    <li class="lesson-list"><%= image_tag'number_5.png' %></li>
  </ul>
</div>
