<div class="lesson">
  <div class="lesson-class">
    <div class="lesson-list">
      <%= image_tag'number_1.png' %>
      <p>幼児クラス</p>
    </div>
    <div class="lesson-list">
      <%= image_tag'number_2.png' %>
      <p>小学生クラス</p>
    </div>
    <div class="lesson-list">
      <%= image_tag'number_3.png' %>
      <p>中学〜高校クラス</p>
    </div>
    <div class="lesson-list">
      <%= image_tag'number_4.png' %>
      <p>留学準備クラス</p>
    </div>
    <div class="lesson-list">
      <%= image_tag'number_5.png' %>
      <p>一般クラス</p>
    </div>
  </div>    
</div>
