<!DOCTYPE html>
<html>
  <head>
    <title>Mayuen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="header">
      <div class="header-logo">
        <%= link_to 'MayuEnglishSchool',root_path %>
      </div>
      <div class="header-list">
        <ul>
          <li><%= link_to 'profile', profile_path %></li>
          <li><%= link_to 'lesson', lesson_path %></li>
          <li><%= link_to 'access', access_path %></li>
          <li><%= link_to 'blog', blog_path %></li>
          <li>contact</li>
        </ul>

      </div>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <div class="flash-text"><%= flash[:notice] %></div>
      </div>
    <% end %>
    <%= yield %>

    <div class="footer">
      <h1>©️Mayumi Kometani</h1>
      <div class="footer-list">
        <% if @current_user  %>
          <%= link_to 'ログアウト', logout_path , data: {method: :post} %>
        <% else %>
          <%= link_to 'ログイン', login_path %>
          <%= link_to '会員登録はこちら', users_new_path %>
        <% end %>
      </div>
    </div>
  </body>
</html>
